{{- /*gotype: multichat_bot/internal/api/page.accountData*/ -}}

{{ define "logged-in" }}
    <div class="justify-start text-md sm:text-lg">
        <p>
            You have
            <span class="font-semibold">successfully logged in</span>.
        </p>
        <p>
            Channel:
            <span class="font-medium">{{ .Username }}</span>
        </p>
        <p>ID: <span class="font-medium">{{ .ChannelID }}</span></p>
    </div>
{{ end }}
