{{ define "main" }}
    <div class="w-full h-full border-2 border-dashed border-black rounded-xl flex flex-col justify-center items-center gap-4 shadow-lg">
        <h1 class="text-2xl sm:text-3xl">404 page not found</h1>
        <p class="text-xl">(>_<)</p>
        <a href="/" class="text-xl hover:text-blue-400 underline underline-offset-2 decoration-2">Go to the home page</a>
    </div>
{{ end }}
